// Change the mongouri to reflect your settings on your mongodb database  and
// Change the json web token secret to what ever you tap on your keyboard 
// change the name of this file to .env and run your app

MONGO_URI=mongodb+srv://username:**whatever-your-mongodb-password-is**@**whaterver-your-mongodb-address-is**
JWT_SECRET=s;ierfsdf;iksjdfepfospo
